<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script type="module" src="/javascript/APIHandler.js"></script>

  </head>
  <body>
    {{{body}}}
  </body>
</html>
