<div class="container">

    <h1>New character</h1>

    <hr>

    <form action="/characters/create" method="post">
        <label>
            Name: <input type="text" name="name" placeholder="Character name">
        </label>

        <label>
            Occupation: <input type="text" name="occupation" placeholder="Character occupation">
        </label>

        <label>
            Cartoon: <input type="text" name="cartoon" placeholder="Character cartoon">
        </label>

        <label>
            Weapon: <input type="text" name="weapon" placeholder="Character super weapon">
        </label>

        <input type="submit" value="Create character" class="btn-dark btn">
    </form>


</div>