<h1>{{title}}</h1>
<div>
  <div id="characters-list"></div>

  <button id="fetch-all">Fetch All</button>
  <form id="search-by-id">
    <label for="search-input">Search by ID:</label>
    <input type="text" name="search-input" id="search-input">
    <button id="fetch-one">Fetch One</button>
  </form>
  <form id="delete-by-id">
    <label for="delete-input">Delete by ID:</label>
    <input type="text" name="delete-input" id="delete-input">
    <button id="delete-one">Delete One</button>
  </form>
</div>

<div>
  <form id="edit-character-form">
    <button>Edit</button>
  </form>
</div>

<div>
  <form id="new-character-form">
    <button>New</button>
  </form>
</div>


<template id="character-card-template">
  <div id="character-card">
    <p>
      <span class="character-card-label">Id: </span>
      <span class="character-id"></span>
    </p>
    <p>
      <span class="character-card-label">Name: </span>
      <span class="character-name"></span>
    </p>
    <p>
      <span class="character-card-label">Occupation: </span>
      <span class="character-occupation"></span>
    </p>
    <p>
      <span class="character-card-label">Is a Cartoon?: </span>
      <span class="character-is-cartoon"></span>
    </p>
    <p>
      <span class="character-card-label">Weapon: </span>
      <span class="character-weapon"></span>
    </p>
  </div>
</template>